/* ------ CSS Demo ------ */

/* ---------------------------- Box Sizing ---------------------------- */

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
box-sizing: inherit;
}

body{
    font-family: "Playwrite HR Lijeva", cursive 
}

header.primary{
background-color:red;
}