CSS 

/* ------ CSS Demo ------ */

/* ---------------------------- Box Sizing ---------------------------- */

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
box-sizing: inherit;
}

/* --------------------------- Responsive Images --------------------------- */

img{
max-width:100%;
}

/* --------------------------- Utility Classes --------------------------- */

.container{
    max-width:980px;
    width:90vw;
    margin: 40px auto;
}

img-right{
    float:right;
    margin: 10px 0 10px 20px;
    border: 1.8px solid indigo;
    padding: 6px; 
    border-radius: 55px;
    background-color: purple;
}

img-left{
    float:left;
    margin: 10px 20px 10px 0;
    border: 1.8px solid indigo;
    padding: 6px; 
    border-radius: 55px;
    background-color: purple;
}

img-center{
    
}

/* --------------------------- Global Styles --------------------------- */

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
}

header.primary{
background-color:red;
color:orange;
text-align: center;
text-shadow: 5px 5px #FFFF00;
padding:25px 50px;
}

header.primary h1 {
    font-size: 2.4rem; 
    background:green;
    margin: 30px 0 0;
}

header.primary h1 a{
    color:blue;
    text-decoration:none; 
}

header.primary h2{
    margin:0;
    font-size: 2.1rem; 
}

header.primary nav{
    max-width: 950px; 
    background:indigo;
    margin:25px auto;
}

header.primary ul{
    padding: 15px 0; 
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

header.primary ul li{
    list-style-type:none;
}

header.primary nav a {
    color:purple;
    text-decoration:none;
    background-color: rgba(255, 0, 0);
    padding: 7px 14px;
    border-radius: 24px;
    border:2px solid #FFA500;
    transition: 0.7s;
}

header.primary nav a:hover{
    background-color:rgba(255, 255, 0);
}

content{
    line-height:1.7;
    background:green;
}

#content h2{
    color:#0000FF;
    border-bottom:3px dotted #4b0082;
}

#content h3{
    border-left: 8px solid #800080;
    padding:9.5px;
}

#blog{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    gap:3rem;
    border-bottom: 2px dotted red;
    padding: 3rem 0;
    border-top: 2px dotted orange;
    padding-top: 3rem; 
}

#blog .post{
    box-shadow: 0 9px 17px rgba(240, 255, 0);
    padding:12px;
    border-radius:7px;
    font-size:.7rem;
}

#blog figure{
    background:green;
    margin:0;
}

#blog figcaption{
    text-transform:uppercase;
    font-size:.8rem;
    text-align:center;
    color:blue;
}

#blog header{
    padding-top:12px;
    font-size:.7rem;
}

#blog header h2{
    margin:0;
}

#blog h2 a{
    color:indigo;
}

#blog .post:hover{
    box-shadow: 0 9px 17px rgba(128, 0, 128);

}

#practice h2{
    color: red;
    border-bottom: 1.7px solid orange;
}

aside[role="complementary"]{
    background-color: yellow;
    color: green;
    padding:2rem;
}

aside .container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:45px;
}

aside .container a{
    color: blue;
}

aside .container a:last-of-type{
    display:block; 
    color: indigo;
    text-align:right; 
    margin-top: 1rem;
}

aside .widget footer{
    display:none;
}

colophon{
    background-color: purple;
    text-align: center;
    padding: 12px;
    color: red;
    font-size: 1.3rem;
}














@media screen and (max-width:600px) {
    header.primary ul{
        flex-direction:column;
        gap:25px;
        max-width:280px;
        margin:auto;
    }

    header.primary nav a {
        display:block;
    }
}